.task
bin
frontend/dist
frontend/node_modules
build/appicon.icon/
build/darwin/Assets.car
build/darwin/Info.dev.plist
build/darwin/Info.plist
build/darwin/icons.icns
build/docker/
build/ios/
build/linux/appimage/
build/linux/desktop
build/linux/*.desktop
build/linux/nfpm/
build/windows/icon.ico
build/windows/info.json
build/windows/msix/
build/windows/nsis/
build/windows/wails.exe.manifest
